@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.bellWrapper {
  display: contents;
}

.headerGlobalBarButton {
  position: relative;

  &.activePanel {
    @include brand-01(background-color);
  }
}

.badge {
  position: absolute;
  top: layout.$spacing-02;
  inset-inline-end: layout.$spacing-02;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
  height: 1rem;
  padding: 0 layout.$spacing-02;
  border-radius: 0.5rem;
  background-color: colors.$red-60;
  color: colors.$white;
  @include type.type-style('label-01');
  font-weight: 600;
  line-height: 1;
  pointer-events: none;
}
